{% extends 'base.html' %}

{% block content %}
<h1>Toate recenziile pentru: {{ post.title }}</h1>

<ul>
    {% for review in reviews %}
    <li>
        <p>Adaugat de {{ review.user.username }}</p>
        <p>Rating: {{ review.rating }}</p>
        <p>Descriere: {{ review.description }}</p>
        {% if review.user == user %}
            <a class="btn btn-warning" href="{% url 'edit-review' review.pk %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'delete-review' review.pk %}">Delete</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}