{% extends 'base.html' %}

{% block content %}
<h1>Detaliile postarii</h1>
<p>Titlu: {{ object.title }}</p>
<p>Descriere: {{ object.description }}</p>
<p>Categorie: {{ object.category.title }}</p>
<p>Creat la: {{ object.created }}</p>

<!-- Buton vizibil doar pentru utilizatorii logati -->
{% if user.is_authenticated %}
<form method="post" action="{% url 'add-post-to-user' object.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Adauga la favorite</button>
</form>
{% endif %}

<!-- Sectiunea de adaugat recenzii -->
{% if not user_already_reviewed %}
<div>
    <h1>Adauga o recenzie</h1>
    <form method="post" action="{% url 'add-review' object.id %}">
        {% csrf_token %}
        <label for="rating">Adauga o recenzie</label>

        <select id="rating" name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <br>
        <label for="recenzie-commentrecenzie-comment">Adauga un comentariu (optional)</label>
        <input type="text" id="recenzie-comment" name="comment">
        <br>
        <input type="submit" class="btn btn-primary" value="Adauga">
    </form>
</div>
{% endif %}

<div>
    <h1>Recenzii</h1>
    <a href="{% url 'all-reviews' object.pk %}">Vezi toate</a>
    <ul class="mt-4">
        {% for review in reviews %}
        <li>
            <p>Adaugata de: {{ review.user.username }}</p>
            <p>Rating: {{ review.rating }}</p>
            <p>Descriere: {{ review.description }}</p>
            {% if review.user == user %}
                <a class="btn btn-warning" href="{% url 'edit-review' review.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'delete-review' review.pk %}">Delete</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}